<button id="getAnother" type="button" class="btn btn-primary" (click) = "getJoke(category)">Try me again!</button>
<button type="button" class="btn btn-outline-primary" (click) = "likeJoke()">Like</button>

<div>
    <h5>Joke:</h5>
    {{joke}}
    <br><br>
    <div>
        <h2>Categories</h2>
            <select [(ngModel)] = "category">
                <option id="categoryDropDown" *ngFor="let category of categories" [value] = "category">{{category}}</option>
            </select>
    </div>
    <br>
</div>

    <br>

<div *ngIf="goodJokes.length>0">
    <h2>Melhores: </h2>
    <div *ngFor="let nice of goodJokes; let i = index">
        <h6 (click)="removeJoke(i)">{{nice}}</h6>
    </div>
</div>